.DS_Store
.ipynb_checkpoints/df_ETL_to_tableau-checkpoint.ipynb
.ipynb_checkpoints/ecommerce_DF-TableauExtract-checkpoint.ipynb
.ipynb_checkpoints/hyperSQL_tableau_extarct-checkpoint.ipynb
.ipynb_checkpoints/read_df_from_tableau-checkpoint.ipynb
.ipynb_checkpoints/tableau_data_sql_query-checkpoint.ipynb
.ipynb_checkpoints/tableau_extract_sql_query-checkpoint.ipynb
.ipynb_checkpoints/tableau_sql_interface-checkpoint.ipynb
